
.input{
    width: 150px;
}
.container {
    border: 2px solid rgb(253, 57, 87);
    border-radius: 5px;
    max-width: 1210px;
    margin: 20px auto 0;
    padding: 5px;
    overflow: hidden;
}

.container .draggable-container{
    position: relative;   
    width: inherit;
}

.draggable-container .draggable-item{
    position: relative;   
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.draggable-container #draggable-frame{
    position: absolute;   
    display: inline-block;
    border:solid 2px red ;
}

.draggable-container .draggable-item span{
    display: block;
    font-family: Sans-Serif;
    font-size: 20pt;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
}

/* slyder */
.noUi-target{
    margin-top: 6px;
    height: 10px;
}

.noUi-horizontal .noUi-base {
    background: #f7f7f7;
}

.noUi-horizontal .noUi-handle{
    background: #fafafa;;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.noUi-handle{
    box-shadow: none;
}

.noUi-handle:before, .noUi-handle:after{
    height: unset;
    width: unset;
}